<div class="container">

  <form (ngSubmit)="onSubmit()" #userForm="ngForm">
    <div class="row">
      <div class="col-md-12 center">
        <h2>User - Details</h2>
      </div>
    </div>
    <!--row-->

    <hr>

    <div class="row">
      <div class="col-md-5">
        <label for="name">First Name</label>
        <input type="text" name="name" class="form-control" id="name" [(ngModel)]="user.firstName" autofocus required #name="ngModel">
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          First Name is required
        </div>
      </div>
      <div class="col-md-5">
        <label for="lastName">Last Name</label>
        <input type="text" name="lastName" class="form-control" id="lastName" [(ngModel)]="user.lastName" required #lastName="ngModel">
        <div [hidden]="lastName.valid || lastName.pristine" class="alert alert-danger">
          Last Name is required
        </div>
      </div>
      <div class="col-md-2">
        <label for="age">Age</label>
        <input type="text" name="age" class="form-control" id="age" [(ngModel)]="user.age" disabled>
      </div>
    </div>
    <!--row-->

    <div class="row">
      <div class="col-md-12">
        <label for="description">Description</label>
        <textarea name="description" id="description" cols="30" rows="6" class="form-control" [(ngModel)]="user.description" disabled></textarea>
      </div>
    </div>
    <!--row-->

    <div class="row pt-30">
      <div class="col-md-12">
        <button type="button" class="btn btn-default" (click)="goBack(userForm.form)">
          <fa name="mail-reply"></fa> Back</button>
        <div class="pull-right">
          <button type="button" class="btn btn-danger" (click)="goBack(userForm.form)">
            <fa name="times"></fa> Cancel</button>
          <button type="submit" class="btn btn-success" [disabled]="!userForm.form.valid">
            <fa name="check"></fa> Save</button>
        </div>
      </div>
    </div>
    <!--row-->

  </form>

</div>