.pd-btn {
    padding-top: 32px;
}

.card-block {
    padding-top: 10px;
    padding-bottom: 10px;
}

.name-user, .checkbox-user {
    padding-top: 8px;
}

table .name-user {
    padding-top: 10px;
}

table .checkbox-user {
    padding-top: 10px;
    padding-left: 20px;
}

table button{
    max-width: 36px;
    max-height: 36px;
    padding: 8px;
}

table button:last-child{
    margin-right: 20px;
}

.user-selected {
    background-color: #f1f1f1bd;
    border: 1px solid #b1b1b1;
}

table .user-selected{
    border: none;
}

.card-block {
    cursor: pointer;
}

.clear-selection{
    padding-top: 10px;
}

.count-users-selected {
    font-size: 0.5em;
    font-weight: 400;
    color: #6f6f6f;
    padding-top: 15px;
}

@media screen and (min-width: 1024px) {
    .card, #users-selection-toogle {
        display: none!important;   
    }
}

@media screen and (max-width: 1023px) {
    .table-responsive {
        display: none!important;   
    }
}

@media screen and (max-width: 767px) {
    .checkbox-user{
        max-width: 10%;
    }
    .name-user{
        max-width: 60%;
    }
    .actions-user{
        max-width: 30%;
    }
}

@media screen and (max-width: 474px) {
    .card-block .actions-user button{
        max-width: 30px;
        padding: 7px;
    }
}

@media screen and (max-width: 351px) {
    .name-user{
        max-width: 55%;
    }
    .actions-user{
        max-width: 34%;
    }
    .card-block .actions-user button{
        max-width: 25px;
        padding: 5px;
    }
}