<div class="container">

  <form>
    <div class="row">
      <div class="col-md-12">
        <h2>Users</h2>
      </div>
    </div>
    <!--row-->

    <hr>

    <div class="row">
      <div class="col-md-8">
        <label for="name">Filter by name</label>
        <div class="form-group">
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <span class="input-group-addon" id="basic-addon1">
              <fa name="filter"></fa>
            </span>
            <input type="text" name="name" class="form-control" id="name" placeholder="Input your search here..." autofocus [(ngModel)]="filter.firstName"
              (ngModelChange)="filterChanged()">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="pull-right pd-btn">
          <button class="btn btn-danger" (click)="deleteSelection()">
            <fa name="trash-o"></fa> Delete List</button>
          <button class="btn btn-default" (click)="downloadSelection()">
            <fa name="cloud-download"></fa> Download List</button>
        </div>
      </div>
    </div>
    <!--row-->

    <hr>

    <span *ngIf="emptyList">Oops!! It looks like that the users are gone...</span>

    <div class="row" *ngIf="!emptyList">
      <div class="col-md-6">
        <h2>Results
          <span class="count-users-selected pull-right">{{formatUsersSelected()}}</span>
        </h2>
      </div>
      <div class="col-md-6" id="users-selection-toogle">
        <div class="pull-right clear-selection">
          <a href="javascript:void(0);" (click)="selectAll()">Select All</a> |
          <a href="javascript:void(0);" (click)="clearSelection()">Clear Selection</a>
        </div>
      </div>
    </div>
    <!--row-->

    <div class="table-responsive" *ngIf="!emptyList">
      <table class="table table-sm">
        <thead>
          <th class="checkbox-user">
            <label class="custom-control custom-checkbox">
              <input class="custom-control-input" type="checkbox" id="selectAll" name="selectAll" [(ngModel)]="isAllSelected" (ngModelChange)="toogleAllChanged()">
              <span class="custom-control-indicator"></span>
            </label>
          </th>
          <th>Name</th>
          <th></th>
        </thead>
        <tbody>
          <tr *ngFor="let user of usersCollection | userFilter: filter; let i = index" class="user-data {{user.isSelected ? 'user-selected' : ''}}">
            <td class="checkbox-user">
              <label class="custom-control custom-checkbox">
                <input class="custom-control-input" type="checkbox" id="{{'isSelected_' + user.id}}" name="{{'isSelected_' + user.id}}" [(ngModel)]="user.isSelected"
                  (ngModelChange)="selectUser()">
                <span class="custom-control-indicator"></span>
              </label>
            </td>
            <td class="name-user">
              <span>{{user.firstName + ' ' + user.lastName}}</span>
            </td>
            <td class="button-user">
              <div class="pull-right">
                <button class="btn btn-default" (click)="goToUser(user)">
                  <fa name="search"></fa>
                </button>
                <button class="btn btn-danger" (click)="deleteUser(user)">
                  <fa name="trash-o"></fa>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="!emptyList">

      <div class="card user-data" *ngFor="let user of usersCollection | userFilter: filter; let i = index">

        <div class="card-block {{user.isSelected ? 'user-selected' : ''}}">

          <div class="row">
            <div class="col-md-1 checkbox-user">
              <label class="custom-control custom-checkbox">
                <input class="custom-control-input" type="checkbox" id="{{'isSelectedMobile_' + user.id}}" name="{{'isSelectedMobile_' + user.id}}" [(ngModel)]="user.isSelected"
                  (ngModelChange)="selectUser()">
                <span class="custom-control-indicator"></span>
              </label>
            </div>
            <div class="col-md-7 name-user">
              <span>{{user.firstName + ' ' + user.lastName}}</span>
            </div>
            <div class="col-md-4 actions-user">
              <div class="pull-right">
                <button class="btn btn-default" (click)="goToUser(user)">
                  <fa name="search"></fa>
                </button>
                <button class="btn btn-danger" (click)="deleteUser(user)">
                  <fa name="trash-o"></fa>
                </button>
              </div>
            </div>
          </div>
          <!--row-->

        </div>
        <!--card-block-->

      </div>
      <!--card-->

    </div>

  </form>

</div>
<!--container-->