/* You can add global styles to this file, and also import other style files */
body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

.center {
    text-align: center;
}

.pt-30 {
    padding-top: 30px;
}

button.primary {
    background-color: #ec4a1d!important;
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948;
}
  
.ng-invalid:not(form)  {
    border-left: 5px solid #a94442;
}

.table {
    background-color: white!important;
}

.custom-control-indicator {
    background-color: white;
    border: 1px solid gray;
}